# the base wordpress url
DOMAIN_CURRENT_SITE=localhost

# auth keys and salts
# generate at https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
SECURE_AUTH_KEY=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
LOGGED_IN_KEY=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
NONCE_KEY=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
AUTH_SALT=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
SECURE_AUTH_SALT=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
LOGGED_IN_SALT=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
NONCE_SALT=abcdefghijklmnopqrstuvwxyz 1234567890~!@#$%^&*()_+{}:"<>?[];',./
