@charset "utf-8";


/* arrows, squares */
.square-after:after,
.square-before:before,
.square,
.arrow-up-after:after,
.arrow-right-after:after,
.arrow-down-after:after,
.arrow-left-after:after,
.arrow-up-before:before,
.arrow-right-before:before,
.arrow-down-before:before,
.arrow-left-before:before,
.arrow-up,
.arrow-right,
.arrow-down,
.arrow-left {
    border: solid 0.4em transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0.3em;
    position: relative;
    vertical-align: baseline;
    width: 0;
}
.square-after:after,
.square-before:before,
.square {
    border-color: Black;
        border-width: 0.3em;
    bottom: 0.1em;
}
.square-after:after {
    margin-right: 0.3em;
}
.square-before:before {
    margin-left: 0.3em;
}
.arrow-up-after:after,
.arrow-up-before:before,
.arrow-up {
    border-bottom-color: Black;
    bottom: 0.1em;
}
.arrow-right-after:after,
.arrow-right-before:before,
.arrow-right {
    border-left-color: Black;
    left: 0.25em;
}
.arrow-down-after:after,
.arrow-down-before:before,
.arrow-down {
    border-top-color: Black;
    top: 0.2em;
}
.arrow-left-after:after,
.arrow-left-before:before,
.arrow-left {
    border-right-color: Black;
    right: 0.2em;
}


/* section */


/* header, footer */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
}
.h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.h2 {
    font-size: 1.5em;
    margin-bottom: 0.666666667em;
}
.h3 {
    font-size: 1.17em;
    margin-bottom: 0.854700855em;
}
.h4 {
    font-size: 1em;
    margin-bottom: 1em;
}
.h5 {
    font-size: 0.83em;
    margin-bottom: 1.20481928em;
}
.h6 {
    font-size: 0.75em;
    margin-bottom: 1.33333333em;
}

.hgroup {
    margin-bottom: 1em;
}
    .hgroup > h1,
    .hgroup > h2,
    .hgroup > h3,
    .hgroup > h4,
    .hgroup > h5,
    .hgroup > h6,
    .hgroup > .h1,
    .hgroup > .h2,
    .hgroup > .h3,
    .hgroup > .h4,
    .hgroup > .h5,
    .hgroup > .h6 {
        margin-bottom: 0
    }
dt.h1,
dt.h2,
dt.h3,
dt.h4,
dt.h5,
dt.h6 {
    margin-bottom: 0;
}


/* navigation */
.ul-htab {
    border-bottom: solid 1px Gray;
    list-style: none;
    padding-left: 0;
}
    .ul-htab > li,
    .ul-htab > li > a {
        border-radius: 3px 3px 0 0;
    }
    .ul-htab > li {
        background-color: Gainsboro;
        border: solid 1px Gray;
            border-bottom: 0;
        display: inline-block;
        margin-right: 1px;
            margin-left: 1px;
    }
        .ul-htab > li > a {
            color: Black;
            display: block;
            margin: 0 0 -1px 0;
            padding: 2px 5px;
            text-decoration: none;
            text-align: center;
        }
            .ul-htab > li > a[href]:focus,
            .ul-htab > li > a[href]:hover {
                text-decoration: underline;
            }
        .ul-htab > li > a.selected {
            background-color: White;
            color: Black;
        }

a[href].a-block,
a.a-block {
    display: block;
    text-decoration: none;
}
a[href] .text-link {
    text-decoration: underline;
}
a[href] .a-description {
    color: Black;
}

.link-blank a[target="_blank"]:before {
    content: 'n ';
    font-family: 'icomoon';
}
.link-pdf a[href$=".pdf"]:after {
    color: Red;
    content: ' f';
    font-family: 'icomoon';
}


/* list */
.dl-narrow dd {
    margin-left: 20px;
}
.ul-narrow,
.ol-narrow {
    padding-left: 20px;
}
.dl-compact dd {
    margin-bottom: 0;
}

.dl-solid > dt,
.dl-solid > dd {
    border: solid 1px Silver;
        border-bottom-width: 0;
    margin: 0;
    padding: 1px 10px;
}
    .dl-solid > :last-child {
        border-bottom-width: 1px;
    }
    .dl-solid > dt {
        background-color: Gainsboro;
        font-weight: bold;
        clear: both;
    }


.ul-horizontal,
.ol-horizontal {
    padding-left: 0;
}
.ul-horizontal > li,
.ol-horizontal > li,
.dl-horizontal > dt,
.dl-horizontal > dd {
    display: inline-block;
    margin-left: 0;
    margin-right: 16px;
    vertical-align: top;
}
.dl-horizontal > dd {
    margin-bottom: 0;
    margin-left: 0;
}
.ul-divided > li:before,
.ol-divided > li:before,
.dl-divided > dt:before,
.dl-divided > dd:before {
    content: attr(data-divider);
    position: relative;
        right: 10px;
}
.ul-horizontal.text-center > li,
.ol-horizontal.text-center > li,
.dl-horizontal.text-center > dt,
.dl-horizontal.text-center > dd,
.ul-horizontal.row > li,
.ol-horizontal.row > li,
.dl-horizontal.row > dt,
.dl-horizontal.row > dd {
    margin-right: 8px;
    margin-left: 8px;
}
.ul-horizontal.text-right > li,
.ol-horizontal.text-right > li,
.dl-horizontal.text-right > dt,
.dl-horizontal.text-right > dd {
    margin-right: 0;
    margin-left: 16px;
}


.ol-separate > li,
.ul-separate > li {
    margin-bottom: 1em;
}
.ol-separate-half > li,
.ul-separate-half > li {
    margin-bottom: 0.5em;
}

.ol-simple,
.ul-simple {
    list-style: none;
    padding-left: 0;
}



/* img, figure */
.fig-left {
    float: left;
    margin-right: 20px;
}
.fig-right {
    float: right;
    margin-left: 20px;
}



/* tabular data */
.table-solid > tbody > tr > th,
.table-solid > tbody > tr > td {
    border: solid 1px DarkGray;
    padding: 1px 10px;
}
    .table-solid > tbody > tr > th {
        background-color: Gainsboro;
    }

.overflow-table {
    overflow-x: auto;
}
    .overflow-table table {
        min-width: 630px;
    }


/* text */
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-xsmall {
    font-size: 0.857142857em;   /* 12px */
}
.text-small {
    font-size: 0.928571429em;   /* 13px */
}
.text-medium {
    font-size: 1em; /* 14px */
}
.text-large {
    font-size: 1.14285714em;    /* 16px */
}
.text-xlarge {
    font-size: 1.28571429em;    /* 18px */
}
.text-no-decoration {
    text-decoration: none !important;
}
.text-bold {
    font-weight: bold;
}
.text-normal-weight {
    font-weight: normal;
}
.text-emboss {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
}


/* border, shadow */
.line-bottom {
    border-bottom: solid 1px Gray;
}
.line-left {
    border-left: solid 5px Gray;
    padding-left: 7px;
}
.line-double-left {
    border-left: double 9px Gray;
    padding-left: 7px;
}
.line-separate-bottom {
    border-bottom: solid 1px Gray;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.box {
    display: inline-block;
    margin: 7px 0px;
    padding: 7px;
}
.box-radius {
    border-radius: 4px;
}
.box-shadow {
    box-shadow: 3px 3px 3px -2px rgba(0,0,0, 0.4);
}
    a[href].box-shadow:hover {
        box-shadow: 3px 3px 3px -1px rgba(0,0,0, 0.4);
    }
.box-border {
    border: solid 1px DarkGray;
        border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.3) rgba(0,0,0,0.45) rgba(0,0,0,0.25);
}
.box-metallic {
    background-color: WhiteSmoke;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(191,191,191,0.15) 50%,rgba(0,0,0,0.1) 100%);
    border: solid 1px DarkGray;
        border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.3) rgba(0,0,0,0.45) rgba(0,0,0,0.25);
}
.box-attention {
    background-color: LemonChiffon;
}
.box-padding {
    display: block;
    padding: 1em;
}


.list-wrapper {
    padding: 1em 15px 0 0;
}
.list-item {
    margin-left: 40px;
}


/* form */


/* margin, padding */
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-1 {
    margin-bottom: 1em !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-after-0 {
    margin-bottom: 0 !important;
}
    .margin-after-0 + * {
        margin-top: 0 !important;
    }

.padding-start-0 {
    padding-top: 0 !important;
}
    .padding-start-0 > :first-child {
        margin-top: 0 !important;
    }
.padding-end-0 {
    padding-bottom: 0 !important;
}
    .padding-end-0 > :last-child {
        margin-bottom: 0 !important;
    }


/* information */
.e-mail {
    font-family: "Courier", "Lucida Console", "Osaka-mono", "Osaka-等幅", monospace;
}
.at-mark:before {
    content: "@";
    margin-right: -1.3ex;
}


/* misc */
.clear {
    clear: both !important;
}

.clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.inline {
    display: inline !important;
}
.block {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
.no-wrap {
    white-space: nowrap;
}

.mark-after:after,
.mark-before:before {
    content: attr(data-mark);
}
.icon-left,
.icon-right {
    background-repeat: no-repeat;
}
    .icon-left {
        background-position: center left;
        padding-left: 1.2em;
    }
    .icon-right {
        background-position: center right;
        padding-right: 1.2em;
    }

.hr-margin {
    margin-top: -1px;
        margin-bottom: 1.6em;
    visibility: hidden;
}
.hr-separator {
    margin-top: 0;
        margin-bottom: 1em;
}


/* icomoon icon font */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon/icomoon.eot');
    src: url('fonts/icomoon/icomoon.eot?#iefix')   format('embedded-opentype'),
         url('fonts/icomoon/icomoon.woff')         format('woff'),
         url('fonts/icomoon/icomoon.ttf')          format('truetype'),
         url('fonts/icomoon/icomoon.svg#icomoon')  format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon-home:before,
.icomoon-mobile:before,
.icomoon-screen:before,
.icomoon-phone:before,
.icomoon-envelop:before,
.icomoon-file-pdf:before,
.icomoon-new-tab:before,
.icomoon-quill:before,
.icomoon-location:before,
.icomoon-lock:before,
.icomoon-cancel-circle:before,
.icomoon-metro:before {
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.icomoon-home:before          {content: "h"}
.icomoon-mobile:before        {content: "m"}
.icomoon-screen:before        {content: "s"}
.icomoon-phone:before         {content: "p"}
.icomoon-envelop:before       {content: "e"}
.icomoon-file-pdf:before      {content: "f"}
.icomoon-new-tab:before       {content: "n"}
.icomoon-quill:before         {content: "q"}
.icomoon-location:before      {content: "l"}
.icomoon-lock:before          {content: "k"}
.icomoon-cancel-circle:before {content: "c"}
.icomoon-metro:before         {content: "t"}

