#top-logo {
    background-color: #e0e0e0;
    background-image: url('img/bg/squares-light_253x121.jpg');
    border-bottom: 1px solid DarkGray;
    margin: 0 0 2em;
    overflow: hidden;
    padding: 0 0 15px;
}
    #top-logo .hgroup {
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    }
        #top-logo .hgroup h1 {
            font-size: 1.8em;
            font-weight: bold;
            margin-top: -1.6em;
        }
        #top-logo .hgroup .h4 {
            font-size: 1em;
            font-weight: normal;
        }
        #top-logo .hgroup {
            padding-top: 147px; /* half the height of #top-logo img */
        }
        #top-logo img {
            display: block;
            height: 294px;
            padding: 20px 0 0;
        }
